* {
	margin: 0;
	padding: 0;
}

body {
	width: 100%;
}

div.content {
	width: 600px;
	background-color: #EEE;
	margin: 0 auto;
	padding: 50px 10px;
}

#tests-table {
	width: 100%;
	border: 2px solid black;
	text-align: center;
	border-collapse: collapse;
}

#tests-table th {
	width: 50%;
	border-bottom: 2px solid black;
	padding: 10px 0;
}

#tests-table th:first-child {
	border-right: 1px solid black;
}

#tests-table td {
	width: 50%;
	padding: 10px 0;
	border-bottom: 1px solid black;
	transition: color 0.2s ease-out 0.2s;
	-webkit-transition: color 0.2s ease-out 0.2s;
	-moz-transition: color 0.2s ease-out 0.2s;
	-o-transition: color 0.2s ease-out 0.2s;
}

#tests-table td:first-child {
	border-right: 1px solid black;
}

#tests-table tbody tr:hover {
	background-color: #8AF;
	cursor: pointer;
}

#tests-table td.result-unknown {
	color: grey;
}

#tests-table td.result-success {
	color: green;
}

#tests-table td.result-failed {
	color: red;
}

div.buttons {
	margin-top: 20px;
}

div.buttons button {
	padding: 10px;
}

#test-modal {
	display: none;
}

.test-info {
	background-color: #FFF;
	height: 500px;
	width: 90%;
	color: #000;
	text-align: center;
	margin: 20px auto;
}

.data-info {
	text-align: justify;
}

.data-info h2 {
	margin: 20px 0;
}

.data-info h3 {
	margin: 10px 0;
}

.data-info code {
	font-size: 16px;
}

div.toolbar {
	position: absolute;
	top: 20px;
	width: 250px;
	right: 50px;
}

div.test-generator {
	background-color: #BBB;
	border: 1px solid #333;
	padding: 5px;
}

div.form-group {
	display: block;
	margin: 10px 0;
}

div.form-group * {
	display: block;
	margin: 2px;
}

div.form-group button {
	padding: 10px;
}
