.invisible {
	display: none;
}

div.calendar-wrapper {
	width: 200px;
}

/* CALENDAR INPUT */

div.calendar-input {
	width: 198px;
	border: 1px solid black;
	border-bottom: none;
	height: 20px;
	overflow: hidden;
}

div.calendar-input input.calendar-input {
	height: 20px;
	margin: 0;
	padding: 0;
	width: 178px;
	border: none;
}

div.calendar-input div.calendar-search-btn {
	width: 18px;
	height: 18px;
	top: -1px;
	position: relative;
	border: none;
	display: inline-block;
	background-color: #DDD;
	text-align: center;
	padding: 1px;
	transition: background-color 0.1s ease-out 0.1s;
	-webkit-transition: background-color 0.1s ease-out 0.1s;
	-moz-transition: background-color 0.1s ease-out 0.1s;
	-o-transition: background-color 0.1s ease-out 0.1s;
}

div.calendar-input div.calendar-search-btn:hover {
	background-color: #CCC;
	cursor: pointer;
}

/* CALENDAR MAIN */

div.calendar-main {
	width: 198px;
	background-color: #DDD;
	transition: height ease-in 0.2s;
	-webkit-transition: height ease-in 0.2s;
	-moz-transition: height ease-in 0.2s;
	-o-transition: height ease-in 0.2s;
	height: 0px;
	border: 1px solid black;
	border-collapse: collapse;
	border-top: none;
	overflow: hidden;
}

div.calendar-fullsize {
	height: 149px;
	border-top: 1px solid black;
}

div.calendar-miminized {
	height: 0px;
}

div.calendar-main div.calendar-hide-btn {
	height: 12px;
	border: none;
	width: 100%;
	text-align: center;
	font-size: 10px;
	background-color: #EEE;
	cursor: pointer;
	color: #555;
}

/* CALENDAR SELECTOR */

div.calendar-main div.calendar-selector {
	position: relative;
	width: 100%;
	height: 12px;
	padding: 1px;
	overflow: hidden;
	font-size: 12px;
}

div.calendar-selector div.calendar-prev-btn {
	display: inline-block;
	margin-right: 20%;
	width: 5%;
	cursor: pointer;
}

div.calendar-selector div.calendar-next-btn {
	display: inline-block;
	margin-left: 20%;
	width: 5%;
	cursor: pointer;
}

div.calendar-selector div.calendar-info {
	cursor: pointer;
	width: 50%;
	text-align: center;
	font-size: 12px;
	display: inline-block;
}

/* CALENDAR TABLE */

div.calendar-main div.calendar-data {
	height: 123px;
	line-height: 1px;
	width: 100%;
	font-size: 10px;
}

div.calendar-data table.calendar-data-table {
	table-layout: fixed;
	border-collapse: collapse;
	width: 100%;
}

table.calendar-data-table td.calendar-data-cell {
	border: 1px solid #000;
	text-align: center;
	vertical-align: middle;
}

table.calendar-data-table td.calendar-data-cell:first-child {
	border-left: none;
}

table.calendar-data-table td.calendar-data-cell:last-child {
	border-right: none;
}

table.calendar-data-table td.calendar-data-cell.calendar-data-cell-title {
	color: #444;
}

table.calendar-data-table td.calendar-data-cell.calendar-data-cell-enabled {

}

table.calendar-data-table td.calendar-data-cell.calendar-data-cell-disabled {
	color: #666;
}
