* {
	margin: 0;
	padding: 0;
}

div.content {
	width: 600px;
	min-height: 100vh;
	margin: 0 auto;
	padding: 20px;
	height: 100%;
	background-color: #EEE;
}

#calendar-place-1 {
	background-color: #F00;
}

div.content table.test-table {
	margin-top: 100px;
	border: 1px solid black;
	width: 400px;
	background-color: #F0F;
	border-collapse: collapse;
}

div.content table.test-table td {
	height: 30px;
	width: 200px;
	border: 1px solid black;
}