* {
	margin: 0;
	padding: 0;
}

h5 {
	font-size: 14px;
	font-weight: 200;
}

div.content {
	width: 550px;
	margin: 0 auto;
	padding: 80px 40px;
	padding-bottom: 10px;
	font-size: 16px;
	height: 840px;
	font-family: "Times New Roman", Times, serif;
	font-weight: 100;
	line-height: 1.4em;
	text-align: justify;
}

div.content p {
	text-indent: 20px;
}

div.formula-wrapper {
	width: 100%;
	margin: 0;
}

.formula {
	letter-spacing: 1px;
}

div.formula-wrapper > div.formula {
	margin: 0 auto;
	text-align: center;
}

div.formula-wrapper > div.formula-num {
	position: relative;
	width: 20%;
	left: 500px;
	top: -25px;
}

/*div.formula-wrapper::after {*/
	/*clear: both;*/
/*}*/

div.image-wrapper {
	width: 100%;
	margin: 10px auto;
	text-align: center;
}

div.image-wrapper > div.image {
	display: inline-block;
}

div.content span.note {
	letter-spacing: 3px;
	font-size: 18px;
}

div.content p.no-indent {
	text-indent: 0px;
}

div.colontitle-bottom {
	margin: 0 auto;
	text-align: center;

}